<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>

  <ul class="nav-links">
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    <!-- <li class="nav-links-image"><a href="https://github.com/transparentstats"><img src="/images/github-gray.svg" alt="Github"></a></li> -->
    <li class="nav-links-image"><a href="https://twitter.com/transprnt_rsrch"><img src="/images/twitter-gray.svg" alt="Twitter"></a></li>
  </ul>
</nav>
